<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Accounting.mapper.SpendingMapper">

    <!--统计总消费-->
    <select id="countSpendingMoney" parameterType="Long" resultType="BigDecimal">
        select sum(spending_money) from spending where user_id = #{userId};
    </select>

    <!--按月统计消费记录-->
    <select id="listYearMonth" resultType="Accounting.entity.Spending">
        select* from spending
        where  year(spending_time) = #{year} and month(spending_time) = #{month} and user_id = #{userId}
        order by spending_time desc
    </select>

    <!--按年统计消费记录-->
    <select id="spendingListYear" resultType="Accounting.entity.Spending">
        select* from spending
        where  year(spending_time) = #{year}  and user_id = #{userId}
        order by spending_time desc
    </select>

</mapper>